---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import type { Institute, Sede } from '../../../Data/types.ts';
import { getMainSede } from '../../../Data/types.ts';
import SchoolListItem from '../components/SchoolListItem.astro';
import { SERVER_ADDRESS, SERVER_PORT } from '../../constants';

const INSTITUTES_RAW = await fetch(`http://${SERVER_ADDRESS}:${SERVER_PORT}/instituti`);
const INSTITUTES: Institute[] = await INSTITUTES_RAW.json();
console.log(`Loaded ${INSTITUTES.length} institutes`);

const LICEI: Institute[] = INSTITUTES.filter(institute => getMainSede(institute)?.tag === 'liceo');
const TECNICI: Institute[] = INSTITUTES.filter(institute => getMainSede(institute)?.tag === 'tecnico');
const PROFESSIONALI: Institute[] = INSTITUTES.filter(institute => getMainSede(institute)?.tag === 'professionale');
---

<Layout>
    <Navbar current_view="istituti" />

    <main>
        <article>
            <h2 class="font-regular">Licei ({LICEI.length})</h2>
            <hr />

            <div>
                {LICEI.map(institute => <SchoolListItem institute={institute} />)}
            </div>
        </article>

        <article>
            <h2 class="font-regular">Tecnici ({TECNICI.length})</h2>
            <hr />

            <div>
                {TECNICI.map(institute => <SchoolListItem institute={institute} />)}
            </div>
        </article>

        <article>
            <h2 class="font-regular">Professionali ({PROFESSIONALI.length})</h2>
            <hr />

            <div>
                {PROFESSIONALI.map(institute => <SchoolListItem institute={institute} />)}
            </div>
        </article>
    </main>
</Layout>

<style>
    main {
    }

    main > article {
        padding: 2rem;
    }

    main > article > h2 {
        font-size: 1.8rem;
    }

    main > article > hr {
        margin: 0.5rem 0 0.8rem 0;

        border: 1.5px solid var(--tint-orange);
        border-radius: 20px;

        color: var(--tint-orange);
    }

    main > article > div {
        /* border: 1px solid red; */

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }


    /* For desktop: */
    @media only screen and (min-width: 768px) {}

    /* For wide-desktop: */
    @media only screen and (min-width: 1536px) {
        main {
            padding: 2rem 0 0 0;
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }

        main > article {
            max-width: 1000px;
        }
    }
</style>
