---
import { type Institute } from '../../../Data/types';
import { SERVER_ADDRESS, SERVER_PORT } from '../../../Data/constants.ts';
import { getMainSede } from '../scripts/Utils';

import Navbar from '../components/Navbar.astro';
import OpenDaysList from '../components/OpenDaysList.astro';
import Layout from '../layouts/Layout.astro';

const INSTITUTES_RAW = await fetch(`http://${SERVER_ADDRESS}:${SERVER_PORT}/instituti`);
const INSTITUTES: Institute[] = await INSTITUTES_RAW.json();

console.log(`[BUILD] (openday.astro) Loaded ${INSTITUTES.length} institutes`);
---

<Layout>
    <Navbar current_view="openday" />

    <main>
        <section>
        {
            INSTITUTES.map(
                institute =>
                    institute.openDays.orari.length > 0 && (
                        <article>
                            <a href={`/sede/${institute.codice_MIUR}`}>
                                <h2 class="font-regular">{getMainSede(institute).name}</h2>
                                <hr />
                            </a>
                            <OpenDaysList openDays={institute.openDays} />
                        </article>
                    ),
            )
        }
        </section>
    </main>
</Layout>

<style>
    main {
        padding: 1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    main > section {
        width: fit-content;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        gap: 2rem;
    }

    section > article {
        /* width: 100%; */

        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        align-items: flex-start;

        gap: 1rem;
    }

    article > a {
        padding: 0.4rem 0 0.4rem 0.6rem;

        /* TODO: Get a better color for this */
        color: var(--background-primary);
        font-size: 1.1rem;
        text-decoration: underline;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        transition: 200ms;
    }

    article > a:hover {
        color: var(--tint-orange);
        /* transition: 100ms; */
    }

    article > a > h2 {
        max-width: 30ch;

        font-size: 1.8rem;
        text-align: center;
    }

    a > hr {
        width: 75%;
        margin: 0.5rem 0 0.8rem 0;

        border: 1.5px solid var(--tint-orange);
        border-radius: 20px;

        color: var(--tint-orange);
    }

    /* For desktop: */
    @media only screen and (min-width: 768px) {
        main {
            align-items: center;
        }

        section {
            gap: 4rem;
        }

        section > article {
            /* align-items: center; */
        }
    }

    /* For wide-desktop: */
    @media only screen and (min-width: 1536px) {
    }
</style>
