---
import '../styles/common.css';

import { type Institute, type OpenDays } from '../../../Data/types';
import { SERVER_ADDRESS, SERVER_PORT } from '../../../Data/constants.ts';
import { getSedeOfOpenDay } from '../scripts/Utils';

import Navbar from '../components/Navbar.astro';
import OpenDaysList from '../components/OpenDaysList.astro';
import Layout from '../layouts/Layout.astro';

const INSTITUTES_RAW = await fetch(`http://${SERVER_ADDRESS}:${SERVER_PORT}/istituti`);
const INSTITUTES: Institute[] = await INSTITUTES_RAW.json();

const ALL_OPENDAYS_RAW = await fetch(`http://${SERVER_ADDRESS}:${SERVER_PORT}/opendays`);
const ALL_OPENDAYS: OpenDays[] = await ALL_OPENDAYS_RAW.json();

console.log(`[BUILD] (openday.astro) Loaded ${INSTITUTES.length} institutes`);
console.log(`[BUILD] (openday.astro) Loaded ${ALL_OPENDAYS.length} opendays`);
---

<Layout>
    <Navbar current_view="openday" />

    <main>
        <article class="hoverable">
            <div>
                <h1 class="font-regular">Appuntamento territoriale</h1>

                <span>
                    Mercoledì 13 novembre 2024 <br>
                    18.00 - 21.00
                    <a href="volantino_scuole.pdf" target="_blank">Link al volantino</a>
                </span>
            </div>

            <p>Presentazione generale dell'offerta formativa di tutti gli istituti superiori della Vallagarina presso la Scuola media Negrelli di Rovereto</p>

        </article>

        {
            ALL_OPENDAYS
            .filter(openday => getSedeOfOpenDay(INSTITUTES, openday.codice_MIUR) != null)
            .map(opendays => opendays.orari.length > 0 && (
                    <article>
                        <a href={`/sede/${opendays.codice_MIUR}`}>
                            <h2 class="font-regular">{getSedeOfOpenDay(INSTITUTES, opendays.codice_MIUR).nome}</h2>
                            <hr />
                        </a>
                        <OpenDaysList openDays={opendays} />
                    </article>
                ),
            )
        }
    </main>
</Layout>

<style>
    main {
        width: calc(100% - 4rem);
        padding: 2rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 2rem;
    }

    /* Banner */
    /* ******************************************************************************** */

    main > article:first-child {
        width: calc(100% - 2rem);
        padding: 2rem;
    }
    main > article {
        width: 100%;
        padding: 1rem;
    }

    main > article > div > h1 {
        text-align: center;
    }

    main > article > div > span {
        text-align: center;
    }

    main > article > p {
        margin: 1.2rem 0 0 0;
        text-align: center;
    }

    main > article > p, main > article > div > span > a {
        line-height: 1.5rem;
    }

    main > article > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }
    
    main > article > div > span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Openday Istituti */
    /* ******************************************************************************** */

    a {
        text-decoration: underline;
    }

    article > a {
        padding: 0.4rem 0 0.4rem 0.6rem;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    article > a > h2 {
        max-width: 30ch;

        font-size: 1.8rem;
        text-align: center;
    }

    a > hr {
        width: 80%;
    }

    /* For desktop: */
    @media only screen and (min-width: 768px) {

        main > article:first-child {
            width: calc(100% - 2rem);
            padding: 2rem;
        }
        main > article {
            max-width: 80ch;

            width: calc(100% - 4rem);
            padding: 2rem;
        }

        main > article > div > span {
            text-align: right;
        }

        main > article > div > span {
            flex-direction: row;
            gap: 1rem;
        }
    }

    /* For wide-desktop: */
    @media only screen and (min-width: 1536px) { }
</style>
