---
import { SERVER_ADDRESS, SERVER_PORT } from '../../../../Data/constants.ts';
import type { Institute, Sede } from '../../../../Data/types';
import OpenDaysList from '../../components/OpenDaysList.astro';

import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Icon from '../../components/Icon.astro';

export async function getStaticPaths() {
    const SEDI_RAW = await fetch(`http://${SERVER_ADDRESS}:${SERVER_PORT}/sedi`);
    const SEDI: Sede[] = await SEDI_RAW.json();

    return SEDI.map(sede => {
        return { params: { id: sede.codice_MIUR }, props: { SEDE: sede, SEDI: SEDI } };
    });
}

const { SEDI, SEDE } = Astro.props;
const { id } = Astro.params;

const SIMILAR_SEDI: Sede[] = SEDI.filter(s => s.codice_MIUR !== id).filter(s => s.tag === SEDE.tag);

const INSTITUTE_RAW = await fetch(`http://${SERVER_ADDRESS}:${SERVER_PORT}/institute/${id}`);
const INSTITUTE: Institute = await INSTITUTE_RAW.json();
---

<Layout>
    <Navbar />

    <main>
        <header>
            <h2 class="font-regular">{SEDE.name}</h2>
            <hr />

            <section>

                <img src={`http://${SERVER_ADDRESS}:${SERVER_PORT}/${INSTITUTE.logo_url}`} alt="" />

                <nav>
                    <a href={SEDE.website} target="_blank">
                        <Icon code="f728" color="var(--foreground-secondary)" />
                        <span>{SEDE.website}</span>
                    </a>

                    <a href={`https://www.google.com/maps/search/?api=1&query=${SEDE.posizione.indirizzo}`} target="_blank">
                        <Icon code="e0c8" color="var(--foreground-secondary)" />
                        <span>{SEDE.posizione.indirizzo}</span>
                    </a>

                    {
                        typeof SEDE.dirigente === 'string' && (
                            <div>
                                <Icon code="e7fd" color="var(--foreground-secondary)" />
                                <span>{SEDE.dirigente}</span>
                            </div>
                        )
                    }

                    {
                        typeof SEDE.direttore === 'string' && (
                            <div>
                                <Icon code="e7fd" color="var(--foreground-secondary)" />
                                <span>{SEDE.direttore}</span>
                            </div>
                        )
                    }
                </nav>
            </section>

        </header>

        <video src={`http://${SERVER_ADDRESS}:${SERVER_PORT}/${INSTITUTE.video_url}`} controls></video>

        <div>
            <h2 class="font-regular">Open day</h2>
            <hr />

            <OpenDaysList openDays={INSTITUTE.openDays} />
        </div>

        <section>
            <h2 class="font-regular">Altre sedi</h2> <hr />
            <div>{INSTITUTE.sedi.filter(sede => sede.name !== SEDE.name).map(sede => <a href={`/sede/${sede.codice_MIUR}`}>{sede.name}</a>)}</div>
        </section>
    </main>

    <footer>
        <table>
            <th colspan="2">E-Mails <hr /></th>
            {
                SEDE.contacts.mail.map(mail => (
                    <tr>
                        <td>{mail.description}</td>
                        <td>
                            <a href={`mailto:${mail.mail}`}>{mail.mail}</a>
                        </td>
                    </tr>
                ))
            }
        </table>

        <table>
            <th colspan="2">Numeri di Telefono <hr /></th>
            {
                SEDE.contacts.phone.map(phone => (
                    <tr>
                        <td>{phone.description}</td>
                        <td>
                            <a href={`tel:${phone.numero}`}>{phone.numero}</a>
                        </td>
                    </tr>
                ))
            }
        </table>
    </footer>
</Layout>

<style>
    main {
        padding: 1rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;

        gap: 1rem;
    }

    /* Header */
    /* -------------------------------------------------------------------------------- */

    main > header {
        flex-basis: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    header > hr {
        width: 60%;
    }

    header > h2 {
        width: 100%;

        padding: 0.8rem 0 0 0;

        font-size: 1.8rem;
        text-align: center;
    }

    header > section {
        width: 90%;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        flex-wrap: nowrap;
    }

    section > img {
        display: none;
    }

    nav > a,
    nav > div {
        padding: 0.2rem 0;

        border: unset;
        background-color: unset;

        display: flex;
        align-items: center;
        gap: 1rem;
    }

    nav > a > span:last-child {
        text-decoration: underline;
    }

    a > span:first-child,
    div > span:first-child {
        font-size: 2.5rem;
    }

    a > span:nth-child(2),
    div > span:nth-child(2) {
        font-size: 0.9rem;
    }

    /* Video */
    /* -------------------------------------------------------------------------------- */

    main > video {
        width: 90%;
        margin: 0 0 2rem 0;
    }

    /* Altre sedi */
    /* -------------------------------------------------------------------------------- */

    main > section {
        padding: 2rem;
    }

    section > h2 {
        font-size: 1.4rem;
        text-transform: capitalize;
    }

    section > div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: nowrap;

        gap: 0.3rem;
    }

    section > div > a {
        padding: 0.4rem 0 0.4rem 0.6rem;
        font-size: 1.1rem;
        text-decoration: underline;
    }


    /* Footer */
    /* -------------------------------------------------------------------------------- */

    footer {
        padding: 3rem 0 4rem 0;

        background-color: var(--background-secondary);

        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2rem;
    }

    th {
        text-align: center;
        font-weight: 500;
    }

    tr > td {
        padding: 0.4rem 0.4rem;
    }

    tr > td:first-child {
        padding-right: 0.5rem;
        text-align: right;
    }

    tr > td:last-child {
        padding-left: 0.5rem;
    }

    footer hr {
        width: 12rem;

        color: var(--background-primary);
        border: 1.5px solid var(--background-primary);
    }

    footer a {
        text-decoration: underline;
    }

    /* Queries */
    /* -------------------------------------------------------------------------------- */

    /* For tablets: */
    @media only screen and (min-width: 500px) {
        main {
            padding: 2rem;
        }

        div > h2 {
            font-size: 1.8rem;
        }

        nav > a,
        nav > div {
            padding: 0.4rem;
        }

        a > span:first-child,
        div > span:first-child {
            font-size: 2.4rem;
        }

        /*******/

        section > img {
            display: block;
            height: 12rem;

            border-radius: 0.8rem;
        }

        section > h2 {
            font-size: 1.6rem;
            text-transform: capitalize;
        }

        main > video {
            margin: 2rem 0 4rem 0;
        }

        main > section {
            margin: 0rem 0 2rem 0;
            flex-wrap: nowrap;
            flex-direction: row-reverse;
        }

        footer {
            padding: 3rem 0 2rem 0;
            flex-direction: row;
            align-items: flex-start;
            gap: 0;
        }
    }

    /* For wide desktop: */
    @media only screen and (min-width: 1440px) {
        main > header {
            max-width: 70rem;
        }

        main > section {
            max-width: 70rem;

            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }

        main > video {
            width: 45%;
        }
    }
</style>
