---
export const prerender = false;
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Icon from '../../components/Icon.astro';

import type { Institute, Sede } from '../../../../Data/types';
import { SERVER_ADDRESS, SERVER_PORT } from '../../../constants';

const { sede } = Astro.params;

const SEDI_RAW = await fetch(`http://${SERVER_ADDRESS}:${SERVER_PORT}/sedi`);
const SEDI: Sede[] = await SEDI_RAW.json();

const SEDE: Sede = SEDI.find(s => s.codice_MIUR === sede)
const SIMILAR_SEDI: Sede[] = SEDI
.filter(s => s.codice_MIUR !== sede)
.filter(s => s.tag === SEDE.tag);

const INSTITUTE_RAW = await fetch(`http://${SERVER_ADDRESS}:${SERVER_PORT}/institute/${sede}`);
const INSTITUTE: Institute = await INSTITUTE_RAW.json();

console.log(`Loaded sede ${SEDE.name} (${SEDE.codice_MIUR})`);
---

<Layout>
    <Navbar />

    <main>
        <header>
            <div>
                <h2>{SEDE.name} <hr /> </h2>
                <!-- <span>{SEDE.tag}</span> -->

                <nav>
                    <button onclick={`window.open("${SEDE.website}", "_blank")`}>
                        <Icon code="f728" color="var(--foreground-secondary)" />
                        <span>{SEDE.website}</span>
                    </button>

                    <button onclick={`window.open("https://www.google.com/maps/search/?api=1&query=${SEDE.posizione.indirizzo}", "_blank")`}>
                        <Icon code="e0c8" color="var(--foreground-secondary)" />
                        <span>{SEDE.posizione.indirizzo}</span>
                    </button>

                    <div>
                        <Icon code="e7fd" color="var(--foreground-secondary)" />
                        <span>{SEDE.dirigente}</span>
                    </div>
                    
                    <div>
                        <Icon code="e7fd" color="var(--foreground-secondary)" />
                        <span>{SEDE.direttore}</span>
                    </div>
                </nav>
            </div>

            <img src={`http://${SERVER_ADDRESS}:${SERVER_PORT}/${INSTITUTE.logo_url}`} alt="" />
        </header>

        
        

        <!-- <hr /> -->

        <div>
            <video src={`http://${SERVER_ADDRESS}:${SERVER_PORT}/${INSTITUTE.video_url}`} controls></video>
        </div>

        <article>
            <section>
                <h2 class="font-regular">Altri {SEDE.tag.slice(0, -1).concat("i")}</h2>
                <hr />

                <div> {
                    SIMILAR_SEDI.map(sede => <a href={`/sede/${sede.codice_MIUR}`}>{sede.name}</a>)
                } </div>
            </section>

            <section>
                <h2 class="font-regular">Stesso istituto</h2>
                <hr />
                <div> {
                    INSTITUTE.sedi
                    .filter(sede => sede.name !== SEDE.name)
                    .map(sede => <a href={`/sede/${sede.codice_MIUR}`}>{sede.name}</a>)
                } </div>
            </section>
        </article>
        
    </main>

    <footer>
        <table>
            <th colspan="2">E-Mails <hr /></th>
            {
                SEDE.contacts.mail.map(mail => <tr>
                    <td>{mail.description}</td>
                    <td><a href={`mailto:${mail.mail}`}>{mail.mail}</a></td>
                </tr>)
            }
        </table>

        <table> 
            <th colspan="2">Numeri di Telefono <hr /></th>
            {
                SEDE.contacts.phone.map(phone => <tr>
                    <td>{phone.description}</td>
                    <td><a href={`tel:${phone.numero}`}>{phone.numero}</a></td>
                </tr>)
            }
        </table>
    </footer>
</Layout>

<style>
    main {
        padding: 1rem;

        border-radius: 0.6rem;
        outline: 0.15rem solid var(--foreground-tertiary);

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        gap: 1rem;
    }

    main > header {
        /* outline: 1px solid green; */

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
    }

    main > header > div {
        flex-basis: 100%;
    }

    main > header > div > h2 {
        padding: .8rem 0 0 0;
        width: 100%;
        text-align: center;
    }

    header > img {
        height: 12rem;
        /* padding: 0.5rem 1rem; */

        display: none;

        border-radius: 0.8rem;
    }

    header > div {
        /* padding: 0.5rem 1rem; */

        color: unset;
        text-decoration-line: unset;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1.6rem;
    }

    header > div > span:first-child {
    }

    header > div > span:nth-child(2) {
        width: fit-content;

        padding: 0.4rem 1rem;

        color: var(--background-primary);
        /* outline: 2px solid var(--background-primary); */
        border-radius: 2rem;

        font-size: 1rem;
        font-weight: 500;
        text-align: center;

        display: flex;
        justify-content: center;
    }

    header > div > nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: .1rem;
    }

    nav > button, nav > div {
        padding: 0.2rem 0;

        border: unset;
        background-color: unset;

        display: flex;
        align-items: center;
        gap: 1rem;

        cursor: pointer;
    }

    nav > button:hover, nav > div:hover span {
        color: var(--tint-orange);
    }

    nav > button:hover, nav > div:hover span:nth-child(2) {
        text-decoration: underline;
        transition: 200ms;
    }

    nav > button:active span {
        /* TODO: Find nicer color */
        color: var(--background-primary);
    }

    button > span:first-child, nav > span:first-child {
        font-size: 2.5rem;
    }

    button > span:nth-child(2), nav > span:nth-child(2) {
        font-size: .9rem;
        transition: 200ms;
    }

/* ************************************************* */

    main > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div > video {
        border-radius: 0.6rem;
        outline: 0.15rem solid var(--foreground-tertiary);
        width: 90%;
    }

/* ************************************************* */

    main > article {
        /* outline: 1px solid black; */

        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: nowrap;
    }

    article > section {
        /* outline: 1px solid green; */
        padding: 2rem;
    }

    section > h2 {
        font-size: 1.8rem;
        text-transform: capitalize;
    }
    section > hr {
        margin: 0.5rem 0 0.8rem 0;

        border: 1.5px solid var(--tint-orange);
        border-radius: 20px;

        color: var(--tint-orange);
    }
    section > div {
        /* outline: 1px solid pink; */

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: nowrap;
    }

    section > div > a {
        padding: .4rem 0 .4rem .6rem;
        font-size: 1.1rem;
        transition: 200ms;
    }

    section > div > a:hover {
        color: var(--tint-orange);
        /* transition: 100ms; */
    }

/* ************************************************* */

    footer {
        padding: 3rem 0 4rem 0;
        /* bottom: 0; */

        background-color: var(--background-secondary);

        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2rem;
    }

    th {
        text-align: center;
        font-weight: 500;
    }

    tr > td {
        padding: .4rem .4rem;
    }

    tr > td:first-child {
        padding-right: .5rem;
        text-align: right;
    }

    tr > td:last-child {
        padding-left: .5rem;
    }

/* ************************************************* */

    hr {
        width: 12rem;

        color: var(--background-primary);

        border: 1.5px solid var(--background-primary);
        border-radius: 20px;
    }

    a {
        /* TODO: Get a better color for this */
        color: var(--background-primary);
        text-decoration: underline;
    }

/* ************************************************* */

    /* For tablets: */
    @media only screen and (min-width: 500px) {
        main {
            padding: 2rem;
        }

        main > header > div {
            /* padding: 1.4rem 0 0 0; */
        }

        header > img {
            display: block !important;
        }

        nav > button, nav > div {
            padding: 0.4rem;
        }

        button > span:first-child, div > span:first-child {
            font-size: 2.4rem;
        }

        footer {
            padding: 3rem 0 2rem 0;
            flex-direction: row;
            align-items: flex-start;
            gap: 0;
        }
    }

    /* For desktop: */
    @media only screen and (min-width: 768px) {
        main {
            padding: 2rem;
        }
    }
</style>
